
.day-section {
    border: 1px solid black;
    margin-left: 5%;
    width: 85%;
    height: 30%;
    padding: 5px 10px;
    margin-bottom: 15px;
}
.day-section-top-label {
    margin-top: -7px;
    border: 1px solid red;
    border-top: 3px solid red;
}
.new-label {
    color: red;
    font-size: 15px;
    padding: 2px 3px;
    width: 75px;
}
.new-label-dbl-digit {
    width: 80px;
}
.day-label {
    color: black;
    font-size: 15px;
    padding: 2px 3px;
    width: 40px;
}
.new-label-new-text {
    font-size: 17px;
}
.day-label-dbl-digit {
    width: 42px;
}
.day-section-content {
    margin-top: 15px;
}
.day-section-heading {
    font-size: 20px;
    color: black;
    width: 100%;
    text-align: center;
}
.day-section-heading:hover {
    color: blue;
}
code, .code {
    padding: 3px;
    background-color: lightgray;
    font-family: monospace;
}